.notification {
  height: 1px;
}
.notification section {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 10%;
  align-items: center;
  color: white;
  z-index: 1;
}

.notification h2,
.notification p {
  font-size: 1rem;
  margin: 0;
}

.error {
  background-color: #690000;
}

.success {
  background-color: #1ad1b9;
}

.info {
  background-color: #819222;
}
