.control label {
  display: block;
  text-transform: capitalize;
  color: #616161;
  margin-bottom: 0.5rem;
  text-align: left;
}

.control input {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  padding: 0.25rem;
  border: 1px solid #ccc;
}

.small input {
  height: 2rem;
  font-size: 0.875rem;
}

.medium input {
  height: 2.5rem;
  font-size: 1rem;
}

.large input {
  height: 3rem;
  font-size: 1.25rem;
}
