.formExternal {
  text-align: center;
  margin: 6rem auto;
  padding: 1rem;
  width: 25rem;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f0fa;
}

.logo img {
  width: 40%;
}

.form div {
  margin-bottom: 0.5rem;
}

.form label {
  display: block;
  text-transform: capitalize;
  color: #616161;
  margin-bottom: 0.5rem;
  text-align: left;
}

.form input {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  padding: 0.25rem;
  border: 1px solid #ccc;
}

.form section {
  width: 100%;
  text-align: right;
}

.form button {
  border: 1px solid #ccc;
  padding: 0.55rem;
  width: 100%;
  background-color: rgb(63, 112, 80);
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.form button :hover {
  background-color: rgb(196, 107, 34);
}
