.formExternal {
  text-align: center;
  margin: 6rem auto;
  padding: 1rem;
  width: 25rem;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f0fa;
}

.logo img {
  width: 40%;
}

.form div {
  margin-bottom: 0.5rem;
}

.form section {
  width: 100%;
  text-align: right;
}